{% extends 'base.html' %}

{%load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center alert alert-info">Update User</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-success my-4" value="Update">
                <a href="{% url 'addshow' %}" class="btn btn-info">Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}